 <div class="post-wrapper">
   <div fxLayout="column" fxLayout.gt-sm="row wrap" class="post-l" fxLayoutAlign="start stretch">
     <h2 class="hero-title">
       Somewhere in your thoughts that want to build amazing tech like
       <span class="bold">Tony Stark</span>? Dabble with me.
     </h2>
     <div fxFlex="100" fxFlex.gt-sm="29" fxLayout="column" fxLayoutAlign="start start">
       <div fxFlex="100" fxFlex.gt-sm="60" fxLayout="column" fxLayoutAlign="start stretch">
         <app-post-create></app-post-create>
       </div>

     </div>

   </div>

 </div>
