<header>
  <mat-toolbar fxLayout="row" id="navegation">
    <span fxFlex routerLink='/'>Web App Management</span>


    <span *ngFor="let item of menuItems" fxHide.sm fxHide.xs>
      <!-- 1. dla każdego 2. dla niezalogowanego 3. dla zalogowanego uzytkownika 4. dla zalogowanego admina -->
      <a href='{{ item.href }}' routerLink='{{ item.routerLink }}' *ngIf="item.alwaysShow || 
  (!item.alwaysShow && !isloggedIn$ && !item.onlyForLogged) ||
  (!item.alwaysShow && isloggedIn$ && item.onlyForLogged && !item.onlyForAdmin) ||
  (!item.alwaysShow && isloggedIn$ && item.onlyForLogged && item.onlyForAdmin)">
        <button mat-button>
          <mat-icon class="mr">{{item.icon}}</mat-icon>
          <span> {{ item.label }} </span>

        </button>
      </a>
    </span>

    <ng-container>
      <button mat-icon-button [matMenuTriggerFor]="menu" fxHide fxShow.sm fxShow.xs>
        <mat-icon>dehaze</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <ng-container *ngFor="let item of menuItems">
          <a href='{{ item.href }}' routerLink='{{ item.routerLink }}' *ngIf="item.alwaysShow || 
        (!item.alwaysShow && !isloggedIn$ && !item.onlyForLogged) ||
        (!item.alwaysShow && isloggedIn$ && item.onlyForLogged && !item.onlyForAdmin) ||
        (!item.alwaysShow && isloggedIn$ && item.onlyForLogged && item.onlyForAdmin)">
            <button mat-menu-item>
              <mat-icon class="mr">{{item.icon}}</mat-icon>
              <span> {{ item.label }} </span>

            </button>
          </a>
        </ng-container>
        <a *ngIf="isloggedIn$" href (click)="logoutx()">
          <button mat-menu-item>
            <mat-icon class="mr">cancel</mat-icon>
            Logout
          </button>
        </a>
      </mat-menu>
    </ng-container>
  </mat-toolbar>
</header>
