input[disabled] {
  cursor: not-allowed;
}

mat-card {
  width: 100%;
  margin-top: 15px;
}

.title {
  text-align: center;
  line-height: 4px;
  margin: 3px 0;
  padding : 22px 0;
  background-color: #777;
  color: white;
}

.section-title {
  text-align: center;
}

.user-detail__select {
  max-width: 50%;
}

button {
  margin-top: 20px;
}


.roles-section {
  margin-bottom: 50px;
}