.user-card {
	margin-bottom: 1.2rem;
	background-color: #ffff0091 !important;
}
.user-avatar {
	text-align: center;
}

.user-avatar img{
	width:100%; 
	margin-top: 1rem;
	margin-bottom: 1rem;
	border-radius: 0.625rem;
}

.stats{
	background-color: #593196;
	float: left;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	border-left: 1px solid #fffc;
}