table {
  width: 100%;
}
.table{
  display: table;
  width:100%;
  border-collapse:collapse;
}
  .table-row{
    display: table-row;
  }
    .table-cell, .table-head{
      display: table-cell;
      padding:1em;
      border:#f0f0f0 1px solid;
    }
    .table-head{
        font-weight:bold;
    }