<button type="button" mat-stroked-button (click)="logoutx()">Logout</button>
<div *ngIf="appState$ | async as state">
  {{ state.auth.authUser.username | titlecase }}
  <ng-container class="col-sm-12" *ngIf="state.auth.authUser?.user_profile == 0; else profile">
    <h4>You have not yet setup a profile, please add some info</h4>
    <button [routerLink]="['/add']">CREATE PROFILE</button>
  </ng-container>
  <ng-template #profile>
    <div *ngFor="let profile of state.auth.authUser?.user_profile">
      <mat-toolbar class="nav">
        <a mat-button routerLink="edit/{{ profile.users_id }}">Edit Profile</a>
        <a mat-button>Add Experience</a>
        <a mat-button>Add Education</a>
      </mat-toolbar>
    </div>
  </ng-template>

  <h2>Experience Credentials</h2>
  <div>
    <table>
      <thead>
        <th>Company</th>
        <th>Title</th>
        <th>Years</th>
      </thead>
      <ng-container *ngFor="let data of state.auth.authUser?.user_experience; let i = index">
        <td>{{data.company_name}}</td>
        <td>{{data.job_title }}</td>
        <td> {{ data.start_date | date: 'M/d/yyyy' }}-{{ (data.end_date === null) ? 'Now' :  data.end_date | date: 'M/d/yyyy' 
        }}</td>
      </ng-container>

    </table>

  </div>
</div>
