.container {
  display: grid;

/*    grid-template-areas: 
    "header header header header header"
    "main main . . sidebar"
    "footer footer footer footer footer"; */
    grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-items: start;
  align-items: center;
  justify-content: stretch;	
}
table {
  width: 100%;
}
.table{
  display: table;
  width:100%;
  border-collapse:collapse;
}
  .table-row{
    display: table-row;
  }
    .table-cell, .table-head{
      display: table-cell;
      padding:1em;
      border:#f0f0f0 1px solid;
    }
    .table-head{
        font-weight:bold;
    }