<mat-card *ngIf="form; else noForm">
  <mat-spinner *ngIf="isLoading$ | async" class="mx-auto"></mat-spinner>
  <mat-card-content>
    <form [formGroup]="form" class="form-container" role="form">
      <mat-label>Profile Picture: </mat-label>
      <img src="https://www.w3schools.com/howto/img_avatar.png" /> <br />
      <input class="input-file" type="file" formControlName="image" (change)="onChange($event)" class="form-control" />
      <div class="form-control-container">
        <mat-form-field class="form-control-input">
          <mat-label>Email</mat-label>
          <input matInput placeholder="john@email.com" formControlName="email">
          <mat-hint align="end">The email of the user</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-control-container">
        <mat-form-field class="form-control-input">
          <mat-label>Username</mat-label>
          <input matInput placeholder="username" formControlName="username">
          <mat-hint align="end">The username of the user</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-control-container">
        <mat-form-field class="form-control-input">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="first_name" formControlName="first_name">
          <mat-hint align="end">The first name of the user</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-control-container">
        <mat-form-field class="form-control-input">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
      </div>
      <div class="form-control-container">
        <mat-form-field class="form-control-input">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="password2">
        </mat-form-field>
      </div>
      <div class="form-control-container">
        <a mat-button routerLink="/login" class="form-control-button">If you already have an account, you can login
          here</a>
      </div>
      <div class="form-control-container">
        <button mat-raised-button class="form-control-button" color="primary" [disabled]="!form.valid"
          (click)="save()">Register
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<ng-template #noForm>
  <app-loading-bar></app-loading-bar>
</ng-template>
