<mat-card *ngIf="form; else noForm">
  <mat-card-header class="card-header-container">
    <img mat-card-image src="/assets//edublock-logo-login.png" class="card-header-container-image">
  </mat-card-header>
</mat-card>
<mat-card-content>
  <form [formGroup]="form" class="form-container" role="form">
    <div class="form-control-container">
      <mat-form-field class="form-control-input">
        <mat-label>Email</mat-label>
        <input matInput placeholder="john@email.com" formControlName="email">
        <mat-hint align="end">The email of the user</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-control-container">
      <mat-form-field class="form-control-input">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
    </div>
    <div class="form-control-container">
      <a mat-button routerLink="/register" class="form-control-button">If you do not have an account you can register
        here</a>
    </div>

    <div class="form-control-container">
      <button mat-raised-button class="form-control-button" color="primary" [disabled]="!form.valid"
        (click)="login.emit()">Login
      </button>
    </div>

  </form>
</mat-card-content>
<ng-template #noForm>
  <app-loading-bar></app-loading-bar>
</ng-template>
