<h1 class='large text-primary'>Add An Experience</h1>
<p class="lead">Add any developer/programming positions that you have had in the past</p>
<div class="example-form">
  <form [formGroup]='formGroup' class='form' (ngSubmit)="onSubmit()">
    <mat-form-field class="form-element">
      <input matInput placeholder="Job title" formControlName="job_title">

    </mat-form-field>
    <mat-form-field class="form-element">
      <input matInput placeholder="Company" formControlName="company_name">

    </mat-form-field>
    <mat-form-field class="form-element">
      <input matInput placeholder="Location" formControlName="job_location">

    </mat-form-field>
    <mat-form-field class="form-element">
      <input matInput [matDatepicker]="dp" placeholder="From Date" formControlName="start_date">
      <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
    <div class="form-element">
      <mat-checkbox (click)="toggleCtrState()" formControlName="current">Current Job</mat-checkbox>
    </div>
    <mat-form-field class="form-element">
      <input matInput [matDatepicker]="dp1" placeholder="To Date" formControlName="end_date">
      <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
      <mat-datepicker #dp1></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="form-element">
      <mat-label>Job Description</mat-label>
      <textarea matInput formControlName="description"></textarea>

    </mat-form-field>
    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Submit
        Form</button>
      <button mat-raised-button color="primary" class="button" [routerLink]="['/']">Go back</button>
    </div>
    <pre>{{ formGroup.value | json }}</pre>

  </form>
</div>
